/*Entire page */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
/*image fixing to backgroung*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*appliction font front page*/
body {
     font-family: cursive;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
  background: url('./img/mainPic.jpg') no-repeat center center/cover;
}

.landing-inner {
  color: rgb(249, 245, 245);
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.x-large {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.4;
  margin-bottom: 2rem; 
}

.large {
  color:#190507;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.4;
  margin-bottom: 1rem; 
  animation: animate 2s linear infinite;
}

@keyframes animate{
  to {color:rgb(189, 44, 11)};
  0%{
    opacity: 100;
  }
  100%{
    opacity: 100;
  }
}
  
  .lead {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  
  .buttons {
    float: right;
  }

  .btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }

.btn-primary {
  font-weight: bold;
  background: rgb(5, 145, 155);
  color: rgb(8, 1, 1);
}

.btn-light {
  font-weight: bold;
  background: rgb(5, 145, 155);
  color: rgb(8, 1, 1);
}

.btn:hover {
  opacity: 0.8;
  color: rgb(246, 246, 252);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    top: 0;
    border-bottom: solid 1px rgb(221, 11, 11);
    opacity: 1.2 ;
  }
  
  .navbar ul {
    display: flex;
    padding-right: 2.5rem;
    font-size: 1.1rem;
  }
  
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
  
  .navbar a:hover {
    color:rgb(170, 175, 18);
  }

  .bg-dark {
  background: rgb(58, 56, 56);
  }

  .BgPic {
    position: relative;
  height: 100vh;
  background-image: url('./img/mainPic.jpg') ;
  background-repeat: no-repeat;
  background-position:center center;
  background-size:cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 1rem;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: cursive;
    margin: 0;
  }

  .dropdown:hover .dropbtn  {
    color:rgb(170, 175, 18);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(66, 64, 64);
    min-width: 100px;
    box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
  background-color: rgb(20, 20, 13);
}