/*Entire page */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #ce100c;
  --success-color: #28a745;
}
/*image fixing to backgroung*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*appliction font front page*/
body {
     font-family: cursive;
    font-size: 1rem;
    line-height: 1.6;
    /* background-color: #fff; */
    color: #333;
  }

/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
  background: url('./img/mainPic.jpg') no-repeat center center/cover;
}

.landing-inner {
  color: rgb(249, 245, 245);
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.x-large {
  color: black;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  position: absolute;
  right: 2px;
  width: 700px;
  bottom: 420px;
  height: 120px;
}

.large {
  color:rgb(146, 34, 12);
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.4;
  margin-bottom: 1rem; 
  animation: animate 3s linear infinite;
}

@keyframes animate{
  to {color:rgb(8, 228, 240)};
  0%{
    opacity: 50;
  }
  100%{
    opacity: 20;
  }
}
  
  .buttons {
    float: right;
  }

  .landing .btn {
    display: inline-block;
    padding: 0.3rem 1.1rem;
    margin-right: 1rem;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    border: none;
    transition: opacity 0.2s ease-in;
    position: relative;
    left: 410px;
    bottom: -120px;
  }

.btn-primary {
  font-weight: bold;
  background: rgb(5, 145, 155);
  color: rgb(8, 1, 1);
}

.btn-light {
  font-weight: bold;
  background: rgb(5, 145, 155);
  color: rgb(8, 1, 1);
}

.btn:hover {
  opacity: 0.8;
  color: rgb(246, 246, 252);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    top: 0;
    border-bottom: solid 1px rgb(221, 11, 11);
    opacity: 1.2 ;
  }
  
  .navbar ul {
    display: flex;
    padding-right: 2.5rem;
    font-size: 1.1rem;
  }
  
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
  
  .navbar a:hover {
    color:rgb(170, 175, 18);
  }

  .bg-dark {
  background: rgb(58, 56, 56);
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }

  .largee {
    position: relative;
    bottom: -25px;
    left: -170px;
    font-size: 2.2rem;
    line-height: 2.5;
    margin-bottom: 1.5rem;
  }

  .text-primary {
  color: var(--primary-color);
}

.mainlead {
  color: rgb(7, 10, 9);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    position: absolute;
    right: 100px;
    width: 500px;
    bottom: 220px;
    height: 120px;
}
.lead {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  bottom: 59px;
  left: 80px;
}

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 1rem;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: cursive;
    margin: 0;
  }

  .dropdown:hover .dropbtn  {
    color:rgb(170, 175, 18);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(66, 64, 64);
    min-width: 100px;
    box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
  background-color: rgb(20, 20, 13);
}
.alert-danger {
  background: var(--danger-color);
  color: #f4f4f4;
  font-weight: bold;
}
.alerts {
  position: relative;
  left: 20px;
  bottom: -80px;
  width: 350px;
  padding: 0.8rem;
  margin: 0.5rem;
  opacity: 0.6 ;
}

.BgPic {
position: static;
height: 100vh;
background-image: url('./img/mainPic.jpg') ;
background-repeat: no-repeat;
background-position:center center;
background-size:cover;
background-attachment: fixed;
/* filter: blur(8px); */
/* -webkit-filter: blur(8px); */
}
.bg-text {
  background-color: rgb(188, 181, 181); /*Fallback color*/
  background-color: rgba(17, 17, 17, 0.4); /*Black w/opacity/see-through */
  color: white;
  font-weight:lighter;
  border: 2px snow #f1f1f1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px;
  text-align: center; 
}
 
.form .form-group {
  margin: 0.7rem 0;
}
 
.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: rgb(253, 248, 248);
} 
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='role'],
.form input[type='tel'],
.form input[type='date'],
.form input[type='gender'],
.form textarea {
  display:block;
  width: 60%;
  padding: 0.2rem;
  font-size: 1rem;
  border: 1px solid rgb(91, 9, 9); 
}
.form .form-group {
  position: relative;
  top:-20px;
  left:-80px;
  left:150px;

}

.form input[type='submit'],
button {
  font-family: cursive
}
